<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Bata_TransactionSoap" closeTimeout="00:15:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                    maxReceivedMessageSize="1000000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://bataweb-test.bgr.pe/Ws_BataPOS/Bata_Transaction.ASMX"
                binding="basicHttpBinding" bindingConfiguration="Bata_TransactionSoap"
                contract="BataTransaction.Bata_TransactionSoap" name="Bata_TransactionSoap" />
        </client>
    </system.serviceModel>
</configuration>