<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="bata_transaccionSoap" maxReceivedMessageSize="1000000000" openTimeout="00:30:00" sendTimeout="00:30:00" closeTimeout="00:15:00" receiveTimeout="00:30:00" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.bgr.pe/web_site_tienda/bata_transaccion.asmx"
                binding="basicHttpBinding" bindingConfiguration="bata_transaccionSoap"
                contract="BataTransmision.bata_transaccionSoap" name="bata_transaccionSoap" />
        </client>
    </system.serviceModel>
</configuration>