<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--SERVER-->
    <add key="server" value="172.19.4.40"/>
    <!--USUARIO-->
    <add key="usuario" value="dtv"/>
    <!--PASSWORD-->
    <add key="password" value="dtv"/>
    <!--PORT-->
    <add key="port" value="1521"/>
     <!--SID-->
    <add key="sid" value="XSTOREDB"/>
    <!--TEMPORAL ORA-->
    <add key="tempo" value="BAT_TK_RETURN"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Bata_TransactionSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://posperu.bgr.pe/ws_batapos/Bata_Transaction.asmx"
                binding="basicHttpBinding" bindingConfiguration="Bata_TransactionSoap"
                contract="BataTransaction.Bata_TransactionSoap" name="Bata_TransactionSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
